<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Native Hawaiian Flowers Field Guide</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Native Flowers!</h1>

    <h2>Search for a plant</h2>

    <input type="text">
    <button id="search">Search database</button>
    <ul class="plants">
        <li><span>Name: </span><span id="plantName"></span></li>
        <li><span>Pronounciation: </span><span id="pronounce"></span></li>
        <li><span>Family Name: </span><span id="familyName"></span></li>
        <li><span>Scientific Name: </span><span id="scientificName"></span></li>
        <li><span>Use: </span><span id="use"></span></li>
        <li><span>Description: </span><span id="description"></span></li>
        <li><img id="image" src=""></li>
    </ul>

    <script src="/main.js"></script>
</body>
</html>