<%- include('partials/header') -%>

    <section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex">
                <div>
                    <h1>Native <span class="text-warning">Flowers</span></h1>
                    <p>Discover endemic plants to Hawaii. Join us and track all of the plants you find.</p>
                    <button><a href="/signup" class="btn btn-lg">Sign up</a></button>
                    <button><a href="/login" class="btn btn-lg">Login</a></button>
                </div>
                <img class="img-fluid w-50" src="/img/undraw_blooming_re_2kc4.svg" alt="">
            </div>
        </div>
    </section>

<%- include('partials/footer') -%>