@media(min-width: 768px) {
    .plant-search {
        width: 50%;
    }
}

.plants{
    list-style-type: none;
}

button:focus, a:focus, button
{
         outline: none !important;
         border: none !important;
         box-shadow: none !important;
}